<h1>Editar Categoría</h1>

<%= render 'form', categorium: @categorium %>

<%= link_to 'Mostrar', [@torneo,@categorium], class: "btn btn-secondary" %> |
<%= link_to 'Atrás', torneo_categoria_path(@torneo), class: "btn btn-secondary" %>
