<h1>Nuevo Jugador</h1>
<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
<%= render 'form', jugador: @jugador %>
<br>
<%= link_to 'Atrás', jugadors_path, class: "btn btn-secondary" %>
</div>
</div>