<h1>Nuevo Grupo</h1>
<div class="row">
<div class="col-md-1"></div>
<div class="col-md-10">
<%= render 'form', grupo: @grupo %>

<%= link_to 'Atrás', torneo_categorium_grupos_path(@torneo,@categorium), class: "btn btn-secondary" %>
</div>
</div>