<h1>Editar Torneo</h1>
<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
<%= render 'form', torneo: @torneo %>
<br>
<%= link_to 'Mostrar', @torneo, class: "btn btn-secondary" %> 
<%= link_to 'Atrás', torneos_path, class: "btn btn-secondary" %>
</div>
</div>