<form action="/obtener_jugadores" method="post">
	
	<label for="myfile">Seleccione archivo</label>
	<input type="file" id="myfile" name="myfile"><br>
	<input type="submit" name="" value="Crear Jugadores">
</form>