<h1>Editar Cuadro</h1>

<%= render 'form', cuadro: @cuadro %>
<br>
<%= link_to 'Show', [@torneo, @categorium,@cuadro], class: "btn btn-secondary" %> 
<%= link_to 'Back', torneo_categorium_cuadros_path(@torneo,@categorium), class: "btn btn-secondary" %>
